# Flask
FLASK_ENV=production
SECRET_KEY=your-secret-key-change-this
JWT_SECRET_KEY=your-secret-key-change-in-production
JWT_ACCESS_TOKEN_EXPIRES=15
JWT_REFRESH_TOKEN_EXPIRES=7
GUNICORN_WORKERS=1


# Database
POSTGRES_DB=subscriptions
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your-secure-password-change-this
DATABASE_URL=postgresql://postgres:your-secure-password-change-this@db:5432/subscriptions

# Celery
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0